# 1. LIBRARIES

In [116]:
import pandas as pd
import os
import re  # Importamos para manejar expresiones regulares
import pandas as pd

# 2. LOCAL VARIABLES

In [117]:
#Variables globales
#Nombre del dataframe final
nombre_merged = "neg_all_2024"
# Definir la ruta donde se guardará el archivo Excel basado en la variable nombre_merged
output_name = f"{nombre_merged}.xlsx"
#output_path = os.path.join(r"C:/Users/crist/OneDrive - Corporación Universitaria Remington UNIREMINGTON/Estudio/Ciencia de datos/Lumethik/eps-data-solutions/data/processed/", output_name)
output_path = os.path.join(r"C:\Users\carlo\Downloads", output_name)

# 3. READING OF FOLDER WITH DATA NEGADOS OR VALIDADOS

In [118]:
def obtener_ruta_carpeta():
    folder_path = input('Por favor, ingresa la ruta de la carpeta (incluyendo las comillas si están presentes): ')
    folder_path = folder_path.strip('"').replace("\\", "/")
    if not os.path.exists(folder_path):
        print(f"La ruta {folder_path} no existe.")
        return None
    return folder_path

def cargar_archivos_a_dataframe(folder_path, extensiones=[".NEG", ".VAL"], sep=",", encoding="latin-1"):
    if not os.path.exists(folder_path):
        print(f"La ruta {folder_path} no es válida.")
        return {}
    
    dataframes = {}
    for ext in extensiones:
        for filename in os.listdir(folder_path):
            if filename.endswith(ext):
                file_path = os.path.join(folder_path, filename)
                try:
                    df = pd.read_csv(file_path, sep=sep, encoding=encoding, header=None)
                    df.columns = [f"col_{j+1}" for j in range(df.shape[1])]
                    
                    nombre_base = os.path.splitext(filename)[0]  # Nombre sin extensión
                    nombre_base = nombre_base.replace("NSEPS025", "")  # Eliminar "NSEPS025" del nombre
                    clave = f"df_{nombre_base}"  # Clave personalizada
                    dataframes[clave] = df
                    print(f"Archivo {filename} cargado como {clave}")
                except Exception as e:
                    print(f"No se pudo leer el archivo {filename}: {e}")
    
    total_df = len(dataframes)
    print(f"\nSe crearon {total_df} DataFrames en total.")
    
    if not dataframes:
        print("No se cargaron archivos en la carpeta especificada.")
    return dataframes

def agregar_nombre_a_dataframes(dataframes):
    """
    Agrega una columna adicional a cada DataFrame con su nombre (clave del diccionario).
    """
    for name, df in dataframes.items():
        df["nombre_dataframe"] = name  # Agrega una columna con el nombre del DataFrame
    print("Se agregó la columna 'nombre_dataframe' a todos los DataFrames.")

def mostrar_primeras_filas(dataframes):
    for name, df in dataframes.items():
        print(f"Primeras filas de {name}:")
        print(df.head())
        print("\n---\n")
        # Puedes quitar el "break" si deseas mostrar todos los DataFrames
        break

# Ejecución del script
ruta = obtener_ruta_carpeta()
if ruta:
    # Incluye las extensiones .NEG y .VAL
    dataframes = cargar_archivos_a_dataframe(ruta, extensiones=[".NEG", ".VAL"])
    if dataframes:
        # Agregar el nombre del DataFrame como columna
        agregar_nombre_a_dataframes(dataframes)
        # Mostrar las primeras filas de los DataFrames
        mostrar_primeras_filas(dataframes)

Por favor, ingresa la ruta de la carpeta (incluyendo las comillas si están presentes):  "C:\Users\carlo\OneDrive\Documentos\dataP\2023"

Archivo NSEPS02504082023.NEG cargado como df_04082023
Archivo NSEPS02505052023.NEG cargado como df_05052023
Archivo NSEPS02506012023.NEG cargado como df_06012023
Archivo NSEPS02506102023.NEG cargado como df_06102023
Archivo NSEPS02507072023.NEG cargado como df_07072023
Archivo NSEPS02507122023.NEG cargado como df_07122023
Archivo NSEPS02509062023.NEG cargado como df_09062023
Archivo NSEPS02510022023.NEG cargado como df_10022023
Archivo NSEPS02510032023.NEG cargado como df_10032023
Archivo NSEPS02510112023.NEG cargado como df_10112023
Archivo NSEPS02511082023.NEG cargado como df_11082023
Archivo NSEPS02512052023.NEG cargado como df_12052023
Archivo NSEPS02513012023.NEG cargado como df_13012023
Archivo NSEPS02513102023.NEG cargado como df_13102023
Archivo NSEPS02514042023.NEG cargado como df_14042023
Archivo NSEPS02514072023.NEG cargado como df_14072023
Archivo NSEPS02515092023.NEG cargado como df_15092023
Archivo NSEPS02515122023.NEG cargado como df_15122023
Archivo NSEPS02516062023.NEG cargado como df_16062023
Archivo NSEPS02517022023.NEG cargado como df_17022023
Archivo NSEPS02517032023.NEG cargado como df_17032023
Archivo NSEPS02517112023.NEG cargado como df_17112023
Archivo NSEPS02518082023.NEG cargado como df_18082023
Archivo NSEPS02519052023.NEG cargado como df_19052023
Archivo NSEPS02520012023.NEG cargado como df_20012023
Archivo NSEPS02520102023.NEG cargado como df_20102023
Archivo NSEPS02521042023.NEG cargado como df_21042023
Archivo NSEPS02521072023.NEG cargado como df_21072023
Archivo NSEPS02522092023.NEG cargado como df_22092023
Archivo NSEPS02522122023.NEG cargado como df_22122023
Archivo NSEPS02523062023.NEG cargado como df_23062023
Archivo NSEPS02524032023.NEG cargado como df_24032023
Archivo NSEPS02524112023.NEG cargado como df_24112023
Archivo NSEPS02525082023.NEG cargado como df_25082023

Se crearon 34 DataFrames en total.
Se agregó la columna 'nombre_dataframe' a todos los DataFrames.
Primeras filas de df_04082023:
   col_1   col_2 col_3           col_4        col_5        col_6    col_7  \
0      2  EPS025    TI      1006450972       MONTES         DIAZ    LUZIO
1      6  EPS025    RC      1115916352      PONGUTA  BALLESTEROS      ZOE
2     10  EPS025    TI      1116662294     MANTILLA    GUTIERREZ   DANIEL
3     11  EPS025    TI      1117322442        AMARO    RODRIGUEZ    PEDRO
4     14  EPS025    CN  23071210557566  MENDIVELSON          PAN  HIJO DE

      col_8       col_9  col_10  ...      col_13 col_14      col_15  \
0    FABIAN  10/03/2001      85  ...  01/06/2023     CC  1006450972
1     MAHIA  23/07/2021      85  ...  21/07/2023     RC  1006405282
2       NaN  14/04/2003      85  ...  01/06/2023     CC  1116662294
3  SANTIAGO  15/02/2005      85  ...  01/05/2023     CC  1117322442
4       NaN  14/07/2023      85  ...  24/07/2023     RC  1222144572

       col_16 col_17 col_18 col_19  col_20  \
0  10/03/2001      0    NaN    NaN     NaN
1  23/07/2021      1    NaN    NaN     NaN
2  14/04/2003      0    NaN    NaN     NaN
3  15/02/2005      0    NaN    NaN     NaN
4  14/07/2023      0    NaN    NaN     NaN

                                              col_21  nombre_dataframe
0                                    GN0169(||||||);       df_04082023
1  GN0169(PRIMER APELLIDO|RIVAS|PONGUTA|SEGUNDO A...       df_04082023
2                                    GN0169(||||||);       df_04082023
3  GN0169(||||FECHA NACIMIENTO|18/02/2005|15/02/2...       df_04082023
4  GN0031(RC|1222144572|CHAPARRO|MENDIVELSON|AXEL...       df_04082023

[5 rows x 22 columns]

---

Revisando las dimenciones de los dataframes

In [119]:
# Si df_1 está en el diccionario 'dataframes', lo puedes acceder así:

#dataframes['df_22112019'].head(3)

## 3.1 Searching the shape of all dataframes

In [120]:
print('Name  Row  Cols')

# Lista para almacenar la cantidad de filas
row_counts = []

# Recorremos los DataFrames en el diccionario
for name, df in dataframes.items():
    rows, cols = df.shape
    row_counts.append(rows)  # Añadimos la cantidad de filas a la lista
    print(f"{name}: {rows}  {cols}")

# Calculamos el total de filas
total_rows = sum(row_counts)
print(f"\nTotal de registros en todos los DataFrames: {total_rows}")

Name  Row  Cols
df_04082023: 1240  22
df_05052023: 106  22
df_06012023: 85  22
df_06102023: 305  22
df_07072023: 64  22
df_07122023: 125  22
df_09062023: 115  22
df_10022023: 191  22
df_10032023: 104  22
df_10112023: 1571  22
df_11082023: 2248  22
df_12052023: 171  22
df_13012023: 195  22
df_13102023: 566  22
df_14042023: 92  22
df_14072023: 20  22
df_15092023: 307  22
df_15122023: 332  22
df_16062023: 56  22
df_17022023: 105  22
df_17032023: 41  22
df_17112023: 57  22
df_18082023: 79  22
df_19052023: 106  22
df_20012023: 54  22
df_20102023: 846  22
df_21042023: 184  22
df_21072023: 144  22
df_22092023: 271  22
df_22122023: 258  22
df_23062023: 57  22
df_24032023: 171  22
df_24112023: 393  22
df_25082023: 938  22

Total de registros en todos los DataFrames: 11597

# 4. Creating the original Merged

In [121]:
# Definir el número de columnas deseadas
num_columnas = 22

# Asegurar que todos los DataFrames tengan exactamente el mismo número de columnas
dataframes_alineados = {name: df.iloc[:, :num_columnas] for name, df in dataframes.items()}

# Definir un nombre fijo para el DataFrame combinado
#nombre_merged = "merged_meses"

# Combinar todos los DataFrames alineados, sin crear nuevas columnas
globals()[nombre_merged] = pd.concat(dataframes_alineados.values(), axis=0, ignore_index=True)

# Mostrar el shape del DataFrame combinado
print(f"Shape del DataFrame '{nombre_merged}': {globals()[nombre_merged].shape}")

# Verificar las primeras filas
print(f"Primeras 5 filas del DataFrame '{nombre_merged}':")
print(globals()[nombre_merged].head())

Shape del DataFrame 'neg_all_2023': (11597, 22)
Primeras 5 filas del DataFrame 'neg_all_2023':
   col_1   col_2 col_3           col_4        col_5        col_6    col_7  \
0      2  EPS025    TI      1006450972       MONTES         DIAZ    LUZIO
1      6  EPS025    RC      1115916352      PONGUTA  BALLESTEROS      ZOE
2     10  EPS025    TI      1116662294     MANTILLA    GUTIERREZ   DANIEL
3     11  EPS025    TI      1117322442        AMARO    RODRIGUEZ    PEDRO
4     14  EPS025    CN  23071210557566  MENDIVELSON          PAN  HIJO DE

      col_8       col_9  col_10  ...      col_13 col_14      col_15  \
0    FABIAN  10/03/2001      85  ...  01/06/2023     CC  1006450972
1     MAHIA  23/07/2021      85  ...  21/07/2023     RC  1006405282
2       NaN  14/04/2003      85  ...  01/06/2023     CC  1116662294
3  SANTIAGO  15/02/2005      85  ...  01/05/2023     CC  1117322442
4       NaN  14/07/2023      85  ...  24/07/2023     RC  1222144572

       col_16 col_17 col_18 col_19 col_20  \
0  10/03/2001      0    NaN    NaN    NaN
1  23/07/2021      1    NaN    NaN    NaN
2  14/04/2003      0    NaN    NaN    NaN
3  15/02/2005      0    NaN    NaN    NaN
4  14/07/2023      0    NaN    NaN    NaN

                                              col_21  nombre_dataframe
0                                    GN0169(||||||);       df_04082023
1  GN0169(PRIMER APELLIDO|RIVAS|PONGUTA|SEGUNDO A...       df_04082023
2                                    GN0169(||||||);       df_04082023
3  GN0169(||||FECHA NACIMIENTO|18/02/2005|15/02/2...       df_04082023
4  GN0031(RC|1222144572|CHAPARRO|MENDIVELSON|AXEL...       df_04082023

[5 rows x 22 columns]

## 4.1 Checking the Merged's Columns

In [122]:
print(globals()[nombre_merged].columns)

Index(['col_1', 'col_2', 'col_3', 'col_4', 'col_5', 'col_6', 'col_7', 'col_8',
       'col_9', 'col_10', 'col_11', 'col_12', 'col_13', 'col_14', 'col_15',
       'col_16', 'col_17', 'col_18', 'col_19', 'col_20', 'col_21',
       'nombre_dataframe'],
      dtype='object')

## 4.2 Cleaning the Merged's colums

In [123]:
# Selecciona las columnas que deseas mantener
globals()[nombre_merged] = globals()[nombre_merged][['col_2', 'col_3','col_4','col_9', 'col_10', 'col_11', 'col_12', 'col_13','nombre_dataframe','col_21']]
#union_2019 = union_2019[['col_2', 'col_3','col_8','col_9', 'col_10', 'col_11', 'col_12', 'col_13', 'col_21']]
# Verifica el resultado
print(globals()[nombre_merged].head())

    col_2 col_3           col_4       col_9  col_10  col_11 col_12  \
0  EPS025    TI      1006450972  10/03/2001      85     430    N01
1  EPS025    RC      1115916352  23/07/2021      85     410    N01
2  EPS025    TI      1116662294  14/04/2003      85     430    N01
3  EPS025    TI      1117322442  15/02/2005      85     230    N01
4  EPS025    CN  23071210557566  14/07/2023      85     230    N01

       col_13 nombre_dataframe  \
0  01/06/2023      df_04082023
1  21/07/2023      df_04082023
2  01/06/2023      df_04082023
3  01/05/2023      df_04082023
4  24/07/2023      df_04082023

                                              col_21
0                                    GN0169(||||||);
1  GN0169(PRIMER APELLIDO|RIVAS|PONGUTA|SEGUNDO A...
2                                    GN0169(||||||);
3  GN0169(||||FECHA NACIMIENTO|18/02/2005|15/02/2...
4  GN0031(RC|1222144572|CHAPARRO|MENDIVELSON|AXEL...

## 4.3 Renaming column names

In [124]:
# Obtiene la cantidad de columnas en el DataFrame
num_columns = globals()[nombre_merged].shape[1]

# Genera nuevos nombres de columnas: 'colum1', 'colum2', ..., 'columnN'
new_columns = [f'colum{i+1}' for i in range(num_columns)]

# Asigna los nuevos nombres de columnas al DataFrame
globals()[nombre_merged].columns = new_columns

# Verifica el resultado
print(globals()[nombre_merged].head())

   colum1 colum2          colum3      colum4  colum5  colum6 colum7  \
0  EPS025     TI      1006450972  10/03/2001      85     430    N01
1  EPS025     RC      1115916352  23/07/2021      85     410    N01
2  EPS025     TI      1116662294  14/04/2003      85     430    N01
3  EPS025     TI      1117322442  15/02/2005      85     230    N01
4  EPS025     CN  23071210557566  14/07/2023      85     230    N01

       colum8       colum9                                            colum10
0  01/06/2023  df_04082023                                    GN0169(||||||);
1  21/07/2023  df_04082023  GN0169(PRIMER APELLIDO|RIVAS|PONGUTA|SEGUNDO A...
2  01/06/2023  df_04082023                                    GN0169(||||||);
3  01/05/2023  df_04082023  GN0169(||||FECHA NACIMIENTO|18/02/2005|15/02/2...
4  24/07/2023  df_04082023  GN0031(RC|1222144572|CHAPARRO|MENDIVELSON|AXEL...

In [125]:
globals()[nombre_merged].dtypes

colum1     object
colum2     object
colum3     object
colum4     object
colum5      int64
colum6      int64
colum7     object
colum8     object
colum9     object
colum10    object
dtype: object

## 4.4 Looking for the column with df_ and converting to date

In [126]:
#import re  # Importamos para manejar expresiones regulares

# Procesamos directamente el DataFrame en globals()
for column in globals()[nombre_merged].columns:
    # Modificamos las celdas de cada columna según el patrón
    globals()[nombre_merged][column] = globals()[nombre_merged][column].astype(str).apply(
        lambda x: re.sub(r'^df_(\d{2})(\d{2})(\d{4})$', r'\1/\2/\3', x) 
        if 'df_' in x else x
    )

# Confirmamos que la transformación se realizó
print(f"Transformación realizada directamente en el DataFrame: {nombre_merged}")
print(globals()[nombre_merged].head())

Transformación realizada directamente en el DataFrame: neg_all_2023
   colum1 colum2          colum3      colum4 colum5 colum6 colum7      colum8  \
0  EPS025     TI      1006450972  10/03/2001     85    430    N01  01/06/2023
1  EPS025     RC      1115916352  23/07/2021     85    410    N01  21/07/2023
2  EPS025     TI      1116662294  14/04/2003     85    430    N01  01/06/2023
3  EPS025     TI      1117322442  15/02/2005     85    230    N01  01/05/2023
4  EPS025     CN  23071210557566  14/07/2023     85    230    N01  24/07/2023

       colum9                                            colum10
0  04/08/2023                                    GN0169(||||||);
1  04/08/2023  GN0169(PRIMER APELLIDO|RIVAS|PONGUTA|SEGUNDO A...
2  04/08/2023                                    GN0169(||||||);
3  04/08/2023  GN0169(||||FECHA NACIMIENTO|18/02/2005|15/02/2...
4  04/08/2023  GN0031(RC|1222144572|CHAPARRO|MENDIVELSON|AXEL...

## 4.5 Change type of columns

In [127]:
# Recorremos cada columna del DataFrame
for column in globals()[nombre_merged].columns:
    # Convertir a entero si todos los valores son numéricos
    if globals()[nombre_merged][column].apply(lambda x: str(x).isdigit()).all():
        globals()[nombre_merged][column] = globals()[nombre_merged][column].astype(int)
    
    # Convertir a string con formato DD/MM/YYYY si los valores están en formato de fecha
    else:
        try:
            # Convertir a datetime primero
            globals()[nombre_merged][column] = pd.to_datetime(
                globals()[nombre_merged][column], format='%d/%m/%Y', errors='raise'
            )
            # Convertir a string con formato DD/MM/YYYY
            globals()[nombre_merged][column] = globals()[nombre_merged][column].dt.strftime('%d/%m/%Y')
        except:
            pass  # Si no es fecha, se deja igual

print(f"Conversión de tipos completada en el DataFrame: {nombre_merged}")

Conversión de tipos completada en el DataFrame: neg_all_2023

In [128]:
globals()[nombre_merged].dtypes

colum1     object
colum2     object
colum3     object
colum4     object
colum5      int32
colum6      int32
colum7     object
colum8     object
colum9     object
colum10    object
dtype: object

In [129]:
globals()[nombre_merged].head(2)

,colum1,colum2,colum3,colum4,colum5,colum6,colum7,colum8,colum9,colum10
0,EPS025,TI,1006450972,10/03/2001,85,430,N01,01/06/2023,04/08/2023,GN0169(||||||);
1,EPS025,RC,1115916352,23/07/2021,85,410,N01,21/07/2023,04/08/2023,GN0169(PRIMER APELLIDO|RIVAS|PONGUTA|SEGUNDO A...

## 4.6 Renaming names Columns

In [130]:
# Renombrar las columnas
globals()[nombre_merged].columns = ['cod_reg', 'tip_doc', 'doc', 'fech_nac', 'dep', 'mun', 'nov', 'fech_nov', 'fecha_rep', 'observs']

In [131]:
globals()[nombre_merged].shape

(11597, 10)

In [132]:
globals()[nombre_merged].head(2)

,cod_reg,tip_doc,doc,fech_nac,dep,mun,nov,fech_nov,fecha_rep,observs
0,EPS025,TI,1006450972,10/03/2001,85,430,N01,01/06/2023,04/08/2023,GN0169(||||||);
1,EPS025,RC,1115916352,23/07/2021,85,410,N01,21/07/2023,04/08/2023,GN0169(PRIMER APELLIDO|RIVAS|PONGUTA|SEGUNDO A...

In [133]:
globals()[nombre_merged].dtypes

cod_reg      object
tip_doc      object
doc          object
fech_nac     object
dep           int32
mun           int32
nov          object
fech_nov     object
fecha_rep    object
observs      object
dtype: object

# 4.7 Counting Glosses

In [134]:
# Definir una función para contar el número de glosas en un registro
def count_glosas(observs):
    # Asegúrate de trabajar con cadenas
    if isinstance(observs, str):
        return len(re.findall(r'GN\d{4}', observs))
    # Si no es una cadena, devolver 0
    return 0

# Aplicar la función a la columna 'observs' y crear la nueva columna 'No_Glosas'
globals()[nombre_merged]["No_Glosas"] = globals()[nombre_merged]["observs"].apply(count_glosas)

## 4.7.1 Divide las glosas que estan concatenadas en 1 solo registro

In [135]:
# 1. Crear nueva columna separando por punto y coma
globals()[nombre_merged]['observaciones_split'] = globals()[nombre_merged]['observs'].str.split(';')

# 2. Usar explode para crear una fila por cada elemento
df_resultado = globals()[nombre_merged].explode('observaciones_split')

# 3. Resetear el índice
df_resultado = df_resultado.reset_index(drop=True)

# 4. Guardar el resultado
globals()[nombre_merged] = df_resultado

# Mostrar resultado
print("\nPrimeras 10 filas del DataFrame procesado:")
print(df_resultado.head(10))

# Mostrar conteo de filas
print(f"\nTotal de filas antes de separar: {len(globals()[nombre_merged])}")
print(f"Total de filas después de separar: {len(df_resultado)}")

Primeras 10 filas del DataFrame procesado:
  cod_reg tip_doc             doc    fech_nac  dep  mun  nov    fech_nov  \
0  EPS025      TI      1006450972  10/03/2001   85  430  N01  01/06/2023
1  EPS025      TI      1006450972  10/03/2001   85  430  N01  01/06/2023
2  EPS025      RC      1115916352  23/07/2021   85  410  N01  21/07/2023
3  EPS025      RC      1115916352  23/07/2021   85  410  N01  21/07/2023
4  EPS025      TI      1116662294  14/04/2003   85  430  N01  01/06/2023
5  EPS025      TI      1116662294  14/04/2003   85  430  N01  01/06/2023
6  EPS025      TI      1117322442  15/02/2005   85  230  N01  01/05/2023
7  EPS025      TI      1117322442  15/02/2005   85  230  N01  01/05/2023
8  EPS025      CN  23071210557566  14/07/2023   85  230  N01  24/07/2023
9  EPS025      CN  23071210557566  14/07/2023   85  230  N01  24/07/2023

    fecha_rep                                            observs  No_Glosas  \
0  04/08/2023                                    GN0169(||||||);          1
1  04/08/2023                                    GN0169(||||||);          1
2  04/08/2023  GN0169(PRIMER APELLIDO|RIVAS|PONGUTA|SEGUNDO A...          1
3  04/08/2023  GN0169(PRIMER APELLIDO|RIVAS|PONGUTA|SEGUNDO A...          1
4  04/08/2023                                    GN0169(||||||);          1
5  04/08/2023                                    GN0169(||||||);          1
6  04/08/2023  GN0169(||||FECHA NACIMIENTO|18/02/2005|15/02/2...          1
7  04/08/2023  GN0169(||||FECHA NACIMIENTO|18/02/2005|15/02/2...          1
8  04/08/2023  GN0031(RC|1222144572|CHAPARRO|MENDIVELSON|AXEL...          1
9  04/08/2023  GN0031(RC|1222144572|CHAPARRO|MENDIVELSON|AXEL...          1

                                 observaciones_split
0                                     GN0169(||||||)
1
2  GN0169(PRIMER APELLIDO|RIVAS|PONGUTA|SEGUNDO A...
3
4                                     GN0169(||||||)
5
6  GN0169(||||FECHA NACIMIENTO|18/02/2005|15/02/2...
7
8  GN0031(RC|1222144572|CHAPARRO|MENDIVELSON|AXEL...
9

Total de filas antes de separar: 27737
Total de filas después de separar: 27737

## 4.7.2 Creating new files for every glosa per User

In [136]:
import re

# 1. Crear la nueva columna para las glosas
globals()[nombre_merged]['obs_glos'] = ''

# 2. Función para separar GN y glosa
def separar_gn_glosa(texto):
    if isinstance(texto, str):
        # Buscar específicamente GN seguido de exactamente 4 dígitos
        match = re.match(r'(GN\d{4})(.*)', texto.strip())
        if match:
            return match.group(1), match.group(2).strip()
    return texto, ''

# 3. Aplicar la separación
for idx, row in globals()[nombre_merged].iterrows():
    gn, glosa = separar_gn_glosa(row['observaciones_split'])
    globals()[nombre_merged].at[idx, 'observaciones_split'] = gn
    globals()[nombre_merged].at[idx, 'obs_glos'] = glosa

# 4. Mostrar el resultado
print("\nPrimeras 10 filas después de separar GN y glosas:")
print(globals()[nombre_merged][['observaciones_split', 'obs_glos']].head(10))

# 5. Mostrar algunos ejemplos de las separaciones realizadas
print("\nEjemplos de separaciones realizadas:")
muestra = globals()[nombre_merged][['observaciones_split', 'obs_glos']].sample(5)
print(muestra)

Primeras 10 filas después de separar GN y glosas:
  observaciones_split                                           obs_glos
0              GN0169                                           (||||||)
1
2              GN0169  (PRIMER APELLIDO|RIVAS|PONGUTA|SEGUNDO APELLID...
3
4              GN0169                                           (||||||)
5
6              GN0169       (||||FECHA NACIMIENTO|18/02/2005|15/02/2005)
7
8              GN0031  (RC|1222144572|CHAPARRO|MENDIVELSON|AXEL|JOEL|...
9

Ejemplos de separaciones realizadas:
      observaciones_split                                      obs_glos
14352
16398              GN0084                          (cnd_afl|01/11/2023)
5561               GN0009  (C|EPSC25|01/10/2022|85|410|C|AC|06/03/2023)
10008              GN0042                                           (2)
18137

## 4.7.2 Deleting Nan dates in observaciones_split column

In [137]:
# Eliminar valores vacíos y espacios en blanco
df_resultado = globals()[nombre_merged]
df_resultado = df_resultado[df_resultado['observaciones_split'].notna()]  # Elimina NaN
df_resultado = df_resultado[df_resultado['observaciones_split'].str.strip() != '']  # Elimina strings vacíos o solo espacios

# Guardar el resultado limpio
globals()[nombre_merged] = df_resultado

# Mostrar resultado
print("\nPrimeras 5 filas después de limpiar:")
print(df_resultado.head())

print(f"\nTotal de filas después de limpiar: {len(df_resultado)}")

Primeras 5 filas después de limpiar:
  cod_reg tip_doc             doc    fech_nac  dep  mun  nov    fech_nov  \
0  EPS025      TI      1006450972  10/03/2001   85  430  N01  01/06/2023
2  EPS025      RC      1115916352  23/07/2021   85  410  N01  21/07/2023
4  EPS025      TI      1116662294  14/04/2003   85  430  N01  01/06/2023
6  EPS025      TI      1117322442  15/02/2005   85  230  N01  01/05/2023
8  EPS025      CN  23071210557566  14/07/2023   85  230  N01  24/07/2023

    fecha_rep                                            observs  No_Glosas  \
0  04/08/2023                                    GN0169(||||||);          1
2  04/08/2023  GN0169(PRIMER APELLIDO|RIVAS|PONGUTA|SEGUNDO A...          1
4  04/08/2023                                    GN0169(||||||);          1
6  04/08/2023  GN0169(||||FECHA NACIMIENTO|18/02/2005|15/02/2...          1
8  04/08/2023  GN0031(RC|1222144572|CHAPARRO|MENDIVELSON|AXEL...          1

  observaciones_split                                           obs_glos
0              GN0169                                           (||||||)
2              GN0169  (PRIMER APELLIDO|RIVAS|PONGUTA|SEGUNDO APELLID...
4              GN0169                                           (||||||)
6              GN0169       (||||FECHA NACIMIENTO|18/02/2005|15/02/2005)
8              GN0031  (RC|1222144572|CHAPARRO|MENDIVELSON|AXEL|JOEL|...

Total de filas después de limpiar: 16144

# 5. DOWNLADING FENITIVE FILE

In [138]:
# Guardar el DataFrame como un archivo Excel
globals()[nombre_merged].to_excel(output_path, index=False)

print(f"El archivo se ha guardado correctamente en: {output_path}")

El archivo se ha guardado correctamente en: C:\Users\carlo\Downloads\neg_all_2023.xlsx

# 6. Notes

Colega hasta aqui se exporta un archivo en formato xlx, esta pendiente que sumerced agregue el paso de tratamiento para la columna de observaciones, la idea seria que lo numere y lo agregue aqui. por otra parte si quiere optimizar este codigo es libre de hacerlo, estoy abierto a cualquier sugerencia para mejorar. Gracias