# 1. LIBRARIES

In [115]:
import pandas as pd
import os
import re  # Importamos para manejar expresiones regulares
import pandas as pd

# 2. LOCAL VARIABLES

In [116]:
#Variables globales
#Nombre del dataframe final
nombre_merged = "neg_all_2019"

# 3. READING OF FOLDER WITH DATA NEGADOS OR VALIDADOS

In [117]:
def obtener_ruta_carpeta():
    folder_path = input('Por favor, ingresa la ruta de la carpeta (incluyendo las comillas si están presentes): ')
    folder_path = folder_path.strip('"').replace("\\", "/")
    if not os.path.exists(folder_path):
        print(f"La ruta {folder_path} no existe.")
        return None
    return folder_path

def cargar_archivos_a_dataframe(folder_path, extensiones=[".NEG", ".VAL"], sep=",", encoding="latin-1"):
    if not os.path.exists(folder_path):
        print(f"La ruta {folder_path} no es válida.")
        return {}
    
    dataframes = {}
    for ext in extensiones:
        for filename in os.listdir(folder_path):
            if filename.endswith(ext):
                file_path = os.path.join(folder_path, filename)
                try:
                    df = pd.read_csv(file_path, sep=sep, encoding=encoding, header=None)
                    df.columns = [f"col_{j+1}" for j in range(df.shape[1])]
                    
                    nombre_base = os.path.splitext(filename)[0]  # Nombre sin extensión
                    nombre_base = nombre_base.replace("NSEPS025", "")  # Eliminar "NSEPS025" del nombre
                    clave = f"df_{nombre_base}"  # Clave personalizada
                    dataframes[clave] = df
                    print(f"Archivo {filename} cargado como {clave}")
                except Exception as e:
                    print(f"No se pudo leer el archivo {filename}: {e}")
    
    total_df = len(dataframes)
    print(f"\nSe crearon {total_df} DataFrames en total.")
    
    if not dataframes:
        print("No se cargaron archivos en la carpeta especificada.")
    return dataframes

def agregar_nombre_a_dataframes(dataframes):
    """
    Agrega una columna adicional a cada DataFrame con su nombre (clave del diccionario).
    """
    for name, df in dataframes.items():
        df["nombre_dataframe"] = name  # Agrega una columna con el nombre del DataFrame
    print("Se agregó la columna 'nombre_dataframe' a todos los DataFrames.")

def mostrar_primeras_filas(dataframes):
    for name, df in dataframes.items():
        print(f"Primeras filas de {name}:")
        print(df.head())
        print("\n---\n")
        # Puedes quitar el "break" si deseas mostrar todos los DataFrames
        break

# Ejecución del script
ruta = obtener_ruta_carpeta()
if ruta:
    # Incluye las extensiones .NEG y .VAL
    dataframes = cargar_archivos_a_dataframe(ruta, extensiones=[".NEG", ".VAL"])
    if dataframes:
        # Agregar el nombre del DataFrame como columna
        agregar_nombre_a_dataframes(dataframes)
        # Mostrar las primeras filas de los DataFrames
        mostrar_primeras_filas(dataframes)

Por favor, ingresa la ruta de la carpeta (incluyendo las comillas si están presentes):  "C:\Users\carlo\OneDrive\Documentos\dataP\MUNICIPIOS 2019\2019\NEG"

Archivo NSEPS02504102019.NEG cargado como df_04102019
Archivo NSEPS02505042019.NEG cargado como df_05042019
Archivo NSEPS02505072019.NEG cargado como df_05072019
Archivo NSEPS02506092019.NEG cargado como df_06092019
Archivo NSEPS02507062019.NEG cargado como df_07062019
Archivo NSEPS02508022019.NEG cargado como df_08022019
Archivo NSEPS02508032019.NEG cargado como df_08032019
Archivo NSEPS02508112019.NEG cargado como df_08112019
Archivo NSEPS02509082019.NEG cargado como df_09082019
Archivo NSEPS02510052019.NEG cargado como df_10052019
Archivo NSEPS02511012019.NEG cargado como df_11012019
Archivo NSEPS02511102019.NEG cargado como df_11102019
Archivo NSEPS02512042019.NEG cargado como df_12042019
Archivo NSEPS02512072019.NEG cargado como df_12072019
Archivo NSEPS02513092019.NEG cargado como df_13092019
Archivo NSEPS02513122019.NEG cargado como df_13122019
Archivo NSEPS02514062019.NEG cargado como df_14062019
Archivo NSEPS02515022019.NEG cargado como df_15022019
Archivo NSEPS02515032019.NEG cargado como df_15032019
Archivo NSEPS02515112019.NEG cargado como df_15112019
Archivo NSEPS02516082019.NEG cargado como df_16082019
Archivo NSEPS02517052019.NEG cargado como df_17052019
Archivo NSEPS02518012019.NEG cargado como df_18012019
Archivo NSEPS02518102019.NEG cargado como df_18102019
Archivo NSEPS02519072019.NEG cargado como df_19072019
Archivo NSEPS02520092019.NEG cargado como df_20092019
Archivo NSEPS02520122019.NEG cargado como df_20122019
Archivo NSEPS02521062019.NEG cargado como df_21062019
Archivo NSEPS02522022019.NEG cargado como df_22022019
Archivo NSEPS02522032019.NEG cargado como df_22032019
Archivo NSEPS02522112019.NEG cargado como df_22112019
Archivo NSEPS02523082019.NEG cargado como df_23082019
Archivo NSEPS02524052019.NEG cargado como df_24052019
Archivo NSEPS02525012019.NEG cargado como df_25012019
Archivo NSEPS02525102019.NEG cargado como df_25102019

Se crearon 35 DataFrames en total.
Se agregó la columna 'nombre_dataframe' a todos los DataFrames.
Primeras filas de df_04102019:
   col_1   col_2 col_3        col_4       col_5        col_6     col_7  \
0     16  EPS025    TI   1006413607   RODRIGUEZ    CASTAÑEDA      NANI
1     86  EPS025    TI   1006559623  CHAMARRAVI  GUACARAPARE   KINNEDY
2    133  EPS025    TI   1010107558       RIVAS      ALVAREZ       YAN
3    422  EPS025    TI  90010379279     MARQUEZ    HERNANDEZ  PATRICIA
4    477  EPS025    TI   1006450537       JAZPE      BARRETO     JULIO

      col_8       col_9  col_10  ...      col_13 col_14      col_15  \
0   MAYERLI  10/07/2001      85  ...  30/09/2019     CC  1006413607
1  BERNARDO  30/05/2000      85  ...  30/09/2019     CC  1006559623
2    CARLOS  26/11/2000      85  ...  30/09/2019     CC  1010107558
3       NaN  03/01/1990      85  ...  30/09/2019     CC  1118542994
4    DANIEL  07/06/2000      85  ...  30/09/2019     CC  1006450537

       col_16 col_17 col_18  col_19  col_20  \
0  10/07/2001    0.0    NaN     NaN     NaN
1  30/05/2000    0.0    NaN     NaN     NaN
2  26/11/2000    0.0    NaN     NaN     NaN
3  03/01/1990    0.0    NaN     NaN     NaN
4  07/06/2000    0.0    NaN     NaN     NaN

                                              col_21  nombre_dataframe
0  GN0014(CC|1006413607|RODRIGUEZ|CASTAÑEDA|NANI|...       df_04102019
1  GN0169(||||FECHA NACIMIENTO|20/05/2000|30/05/2...       df_04102019
2  GN0031(CC|1010107558|RIVAS|ALVAREZ|YAN|CARLOS|...       df_04102019
3              GN0018(CC|1118542994|CANCELADO RNEC);       df_04102019
4  GN0169(||||FECHA NACIMIENTO|01/07/2000|07/06/2...       df_04102019

[5 rows x 22 columns]

---

Revisando las dimenciones de los dataframes

In [118]:
# Si df_1 está en el diccionario 'dataframes', lo puedes acceder así:

#dataframes['df_22112019'].head(3)

## 3.1 Searching the shape of all dataframes

In [119]:
print('Name  Row  Cols')

# Lista para almacenar la cantidad de filas
row_counts = []

# Recorremos los DataFrames en el diccionario
for name, df in dataframes.items():
    rows, cols = df.shape
    row_counts.append(rows)  # Añadimos la cantidad de filas a la lista
    print(f"{name}: {rows}  {cols}")

# Calculamos el total de filas
total_rows = sum(row_counts)
print(f"\nTotal de registros en todos los DataFrames: {total_rows}")

Name  Row  Cols
df_04102019: 289  22
df_05042019: 345  22
df_05072019: 267  22
df_06092019: 793  22
df_07062019: 234  22
df_08022019: 242  22
df_08032019: 703  22
df_08112019: 555  22
df_09082019: 2105  22
df_10052019: 402  22
df_11012019: 227  22
df_11102019: 359  22
df_12042019: 437  22
df_12072019: 225  22
df_13092019: 194  22
df_13122019: 227  22
df_14062019: 219  22
df_15022019: 394  22
df_15032019: 491  22
df_15112019: 553  22
df_16082019: 229  22
df_17052019: 483  22
df_18012019: 264  22
df_18102019: 413  22
df_19072019: 229  22
df_20092019: 199  22
df_20122019: 199  22
df_21062019: 205  22
df_22022019: 402  22
df_22032019: 298  22
df_22112019: 305  22
df_23082019: 168  22
df_24052019: 214  22
df_25012019: 235  22
df_25102019: 273  22

Total de registros en todos los DataFrames: 13377

# 4. Creating the original Merged

In [120]:
# Definir el número de columnas deseadas
num_columnas = 22

# Asegurar que todos los DataFrames tengan exactamente el mismo número de columnas
dataframes_alineados = {name: df.iloc[:, :num_columnas] for name, df in dataframes.items()}

# Definir un nombre fijo para el DataFrame combinado
#nombre_merged = "merged_meses"

# Combinar todos los DataFrames alineados, sin crear nuevas columnas
globals()[nombre_merged] = pd.concat(dataframes_alineados.values(), axis=0, ignore_index=True)

# Mostrar el shape del DataFrame combinado
print(f"Shape del DataFrame '{nombre_merged}': {globals()[nombre_merged].shape}")

# Verificar las primeras filas
print(f"Primeras 5 filas del DataFrame '{nombre_merged}':")
print(globals()[nombre_merged].head())

Shape del DataFrame 'neg_all_2019': (13377, 22)
Primeras 5 filas del DataFrame 'neg_all_2019':
   col_1   col_2 col_3        col_4       col_5        col_6     col_7  \
0     16  EPS025    TI   1006413607   RODRIGUEZ    CASTAÑEDA      NANI
1     86  EPS025    TI   1006559623  CHAMARRAVI  GUACARAPARE   KINNEDY
2    133  EPS025    TI   1010107558       RIVAS      ALVAREZ       YAN
3    422  EPS025    TI  90010379279     MARQUEZ    HERNANDEZ  PATRICIA
4    477  EPS025    TI   1006450537       JAZPE      BARRETO     JULIO

      col_8       col_9  col_10  ...      col_13 col_14      col_15  \
0   MAYERLI  10/07/2001      85  ...  30/09/2019     CC  1006413607
1  BERNARDO  30/05/2000      85  ...  30/09/2019     CC  1006559623
2    CARLOS  26/11/2000      85  ...  30/09/2019     CC  1010107558
3       NaN  03/01/1990      85  ...  30/09/2019     CC  1118542994
4    DANIEL  07/06/2000      85  ...  30/09/2019     CC  1006450537

       col_16 col_17 col_18  col_19  col_20  \
0  10/07/2001    0.0    NaN     NaN     NaN
1  30/05/2000    0.0    NaN     NaN     NaN
2  26/11/2000    0.0    NaN     NaN     NaN
3  03/01/1990    0.0    NaN     NaN     NaN
4  07/06/2000    0.0    NaN     NaN     NaN

                                              col_21  nombre_dataframe
0  GN0014(CC|1006413607|RODRIGUEZ|CASTAÑEDA|NANI|...       df_04102019
1  GN0169(||||FECHA NACIMIENTO|20/05/2000|30/05/2...       df_04102019
2  GN0031(CC|1010107558|RIVAS|ALVAREZ|YAN|CARLOS|...       df_04102019
3              GN0018(CC|1118542994|CANCELADO RNEC);       df_04102019
4  GN0169(||||FECHA NACIMIENTO|01/07/2000|07/06/2...       df_04102019

[5 rows x 22 columns]

## 4.1 Cheking the Merged's Columns

In [121]:
print(globals()[nombre_merged].columns)

Index(['col_1', 'col_2', 'col_3', 'col_4', 'col_5', 'col_6', 'col_7', 'col_8',
       'col_9', 'col_10', 'col_11', 'col_12', 'col_13', 'col_14', 'col_15',
       'col_16', 'col_17', 'col_18', 'col_19', 'col_20', 'col_21',
       'nombre_dataframe'],
      dtype='object')

## 4.2 Cleaning the Merged's colums

In [122]:
# Selecciona las columnas que deseas mantener
globals()[nombre_merged] = globals()[nombre_merged][['col_2', 'col_3','col_4','col_9', 'col_10', 'col_11', 'col_12', 'col_13','nombre_dataframe','col_21']]
#union_2019 = union_2019[['col_2', 'col_3','col_8','col_9', 'col_10', 'col_11', 'col_12', 'col_13', 'col_21']]
# Verifica el resultado
print(globals()[nombre_merged].head())

    col_2 col_3        col_4       col_9  col_10  col_11 col_12      col_13  \
0  EPS025    TI   1006413607  10/07/2001      85       1    N01  30/09/2019
1  EPS025    TI   1006559623  30/05/2000      85     125    N01  30/09/2019
2  EPS025    TI   1010107558  26/11/2000      85       1    N01  30/09/2019
3  EPS025    TI  90010379279  03/01/1990      85       1    N01  30/09/2019
4  EPS025    TI   1006450537  07/06/2000      85     430    N01  30/09/2019

  nombre_dataframe                                             col_21
0      df_04102019  GN0014(CC|1006413607|RODRIGUEZ|CASTAÑEDA|NANI|...
1      df_04102019  GN0169(||||FECHA NACIMIENTO|20/05/2000|30/05/2...
2      df_04102019  GN0031(CC|1010107558|RIVAS|ALVAREZ|YAN|CARLOS|...
3      df_04102019              GN0018(CC|1118542994|CANCELADO RNEC);
4      df_04102019  GN0169(||||FECHA NACIMIENTO|01/07/2000|07/06/2...

## 4.3 Renaming colum names

In [123]:
# Obtiene la cantidad de columnas en el DataFrame
num_columns = globals()[nombre_merged].shape[1]

# Genera nuevos nombres de columnas: 'colum1', 'colum2', ..., 'columnN'
new_columns = [f'colum{i+1}' for i in range(num_columns)]

# Asigna los nuevos nombres de columnas al DataFrame
globals()[nombre_merged].columns = new_columns

# Verifica el resultado
print(globals()[nombre_merged].head())

   colum1 colum2       colum3      colum4  colum5  colum6 colum7      colum8  \
0  EPS025     TI   1006413607  10/07/2001      85       1    N01  30/09/2019
1  EPS025     TI   1006559623  30/05/2000      85     125    N01  30/09/2019
2  EPS025     TI   1010107558  26/11/2000      85       1    N01  30/09/2019
3  EPS025     TI  90010379279  03/01/1990      85       1    N01  30/09/2019
4  EPS025     TI   1006450537  07/06/2000      85     430    N01  30/09/2019

        colum9                                            colum10
0  df_04102019  GN0014(CC|1006413607|RODRIGUEZ|CASTAÑEDA|NANI|...
1  df_04102019  GN0169(||||FECHA NACIMIENTO|20/05/2000|30/05/2...
2  df_04102019  GN0031(CC|1010107558|RIVAS|ALVAREZ|YAN|CARLOS|...
3  df_04102019              GN0018(CC|1118542994|CANCELADO RNEC);
4  df_04102019  GN0169(||||FECHA NACIMIENTO|01/07/2000|07/06/2...

In [124]:
globals()[nombre_merged].dtypes

colum1     object
colum2     object
colum3     object
colum4     object
colum5      int64
colum6      int64
colum7     object
colum8     object
colum9     object
colum10    object
dtype: object

## 4.4 Looking for the column with df_ and converting to date

In [125]:
#import re  # Importamos para manejar expresiones regulares

# Procesamos directamente el DataFrame en globals()
for column in globals()[nombre_merged].columns:
    # Modificamos las celdas de cada columna según el patrón
    globals()[nombre_merged][column] = globals()[nombre_merged][column].astype(str).apply(
        lambda x: re.sub(r'^df_(\d{2})(\d{2})(\d{4})$', r'\1/\2/\3', x) 
        if 'df_' in x else x
    )

# Confirmamos que la transformación se realizó
print(f"Transformación realizada directamente en el DataFrame: {nombre_merged}")
print(globals()[nombre_merged].head())

Transformación realizada directamente en el DataFrame: neg_all_2019
   colum1 colum2       colum3      colum4 colum5 colum6 colum7      colum8  \
0  EPS025     TI   1006413607  10/07/2001     85      1    N01  30/09/2019
1  EPS025     TI   1006559623  30/05/2000     85    125    N01  30/09/2019
2  EPS025     TI   1010107558  26/11/2000     85      1    N01  30/09/2019
3  EPS025     TI  90010379279  03/01/1990     85      1    N01  30/09/2019
4  EPS025     TI   1006450537  07/06/2000     85    430    N01  30/09/2019

       colum9                                            colum10
0  04/10/2019  GN0014(CC|1006413607|RODRIGUEZ|CASTAÑEDA|NANI|...
1  04/10/2019  GN0169(||||FECHA NACIMIENTO|20/05/2000|30/05/2...
2  04/10/2019  GN0031(CC|1010107558|RIVAS|ALVAREZ|YAN|CARLOS|...
3  04/10/2019              GN0018(CC|1118542994|CANCELADO RNEC);
4  04/10/2019  GN0169(||||FECHA NACIMIENTO|01/07/2000|07/06/2...

## 4.5 Change type of columns

In [126]:


# Recorremos cada columna del DataFrame
for column in globals()[nombre_merged].columns:
    # Convertir a entero si todos los valores son numéricos
    if globals()[nombre_merged][column].apply(lambda x: str(x).isdigit()).all():
        globals()[nombre_merged][column] = globals()[nombre_merged][column].astype(int)
    
    # Convertir a datetime si los valores están en formato dd/mm/aaaa
    else:
        try:
            globals()[nombre_merged][column] = pd.to_datetime(
                globals()[nombre_merged][column], format='%d/%m/%Y', errors='raise'
            )
        except:
            pass  # Si no es fecha, se deja igual

print(f"Conversión de tipos completada en el DataFrame: {nombre_merged}")

Conversión de tipos completada en el DataFrame: neg_all_2019

In [127]:
globals()[nombre_merged].dtypes

colum1             object
colum2             object
colum3             object
colum4     datetime64[ns]
colum5              int32
colum6              int32
colum7             object
colum8     datetime64[ns]
colum9     datetime64[ns]
colum10            object
dtype: object

In [128]:
globals()[nombre_merged].head(2)

,colum1,colum2,colum3,colum4,colum5,colum6,colum7,colum8,colum9,colum10
0,EPS025,TI,1006413607,2001-07-10,85,1,N01,2019-09-30,2019-10-04,GN0014(CC|1006413607|RODRIGUEZ|CASTAÑEDA|NANI|...
1,EPS025,TI,1006559623,2000-05-30,85,125,N01,2019-09-30,2019-10-04,GN0169(||||FECHA NACIMIENTO|20/05/2000|30/05/2...

## 4.6 Renaming names Columns

In [129]:
# Renombrar las columnas
globals()[nombre_merged].columns = ['cod_reg', 'tip_doc', 'doc', 'fech_nac', 'dep', 'mun', 'nov', 'fech_1', 'fecha_rep', 'observs']

In [130]:
globals()[nombre_merged].shape

(13377, 10)

In [131]:
globals()[nombre_merged].head(2)

,cod_reg,tip_doc,doc,fech_nac,dep,mun,nov,fech_1,fecha_rep,observs
0,EPS025,TI,1006413607,2001-07-10,85,1,N01,2019-09-30,2019-10-04,GN0014(CC|1006413607|RODRIGUEZ|CASTAÑEDA|NANI|...
1,EPS025,TI,1006559623,2000-05-30,85,125,N01,2019-09-30,2019-10-04,GN0169(||||FECHA NACIMIENTO|20/05/2000|30/05/2...

In [132]:
globals()[nombre_merged].dtypes

cod_reg              object
tip_doc              object
doc                  object
fech_nac     datetime64[ns]
dep                   int32
mun                   int32
nov                  object
fech_1       datetime64[ns]
fecha_rep    datetime64[ns]
observs              object
dtype: object

# 5. DOWNLADING FENITIVE FILE

In [133]:
# Definir la ruta donde se guardará el archivo Excel basado en la variable nombre_merged
output_name = f"{nombre_merged}.xlsx"
output_path = os.path.join(r"C:\Users\carlo\Downloads", output_name)

# Guardar el DataFrame como un archivo Excel
globals()[nombre_merged].to_excel(output_path, index=False)

print(f"El archivo se ha guardado correctamente en: {output_path}")

El archivo se ha guardado correctamente en: C:\Users\carlo\Downloads\neg_all_2019.xlsx

# 6. Notes

Colega hasta aqui se exporta un archivo en formato xlx, esta pendiente que sumerced agregue el paso de tratamiento para la columna de observaciones, la idea seria que lo numere y lo agregue aqui. por otra parte si quiere optimizar este codigo es libre de hacerlo, estoy abierto a cualquier sugerencia para mejorar. Gracias