Librerias

In [1]:
import pandas as pd
import os

In [52]:
# Función para solicitar la ruta de la carpeta al usuario
def obtener_ruta_carpeta():
    # Solicitar la ruta de la carpeta al usuario
    folder_path = input('Por favor, ingresa la ruta de la carpeta (incluyendo las comillas si están presentes): ')
    
    # Eliminar las comillas dobles alrededor de la ruta, si las hay
    folder_path = folder_path.strip('"')
    
    # Reemplazar las barras invertidas con barras normales
    folder_path = folder_path.replace("\\", "/")
    
    return folder_path  # Retorna la ruta corregida

# Función para leer los archivos y almacenarlos en un diccionario de DataFrames
def cargar_archivos_a_dataframe(folder_path):
    dataframes = {}
    
    # Itera sobre todos los archivos en la carpeta
    for i, filename in enumerate(os.listdir(folder_path), start=1):
        if filename.endswith(".NEG"):  # Filtra solo los archivos con extensión .NEG
            file_path = os.path.join(folder_path, filename)  # Construye la ruta completa
            try:
                # Lee el archivo como un DataFrame sin nombres de columnas
                df = pd.read_csv(file_path, sep=",", encoding="latin-1", header=None)
                
                # Asigna nombres de columnas numerados (col_1, col_2, ..., col_n)
                df.columns = [f"col_{j+1}" for j in range(df.shape[1])]
                
                # Almacena el DataFrame en el diccionario con un nombre dinámico
                dataframes[f"df_{i}"] = df
                print(f"Archivo {filename} cargado como df_{i}")
            except Exception as e:
                print(f"No se pudo leer el archivo {filename}: {e}")
    
    return dataframes

# Función para mostrar las primeras filas de los DataFrames cargados
def mostrar_primeras_filas(dataframes):
    # Mostrar las primeras filas de uno de los DataFrames para verificar
    for name, df in dataframes.items():
        print(f"Primeras filas de {name}:")
        print(df.head())
        break  # Muestra solo el primer DataFrame como ejemplo

# Llamada a la función para obtener la ruta
ruta = obtener_ruta_carpeta()
print(f"La ruta ingresada es: {ruta}")

# Llamada a la función para cargar los archivos en un diccionario de DataFrames
dataframes = cargar_archivos_a_dataframe(ruta)

# Llamada a la función para mostrar las primeras filas de los DataFrames cargados
#mostrar_primeras_filas(dataframes)

Por favor, ingresa la ruta de la carpeta (incluyendo las comillas si están presentes):  "C:\Users\carlo\OneDrive\Documentos\dataP\MUNICIPIOS 2019\2019\NEG"

La ruta ingresada es: C:/Users/carlo/OneDrive/Documentos/dataP/MUNICIPIOS 2019/2019/NEG
Archivo NSEPS02504102019.NEG cargado como df_1
Archivo NSEPS02505042019.NEG cargado como df_2
Archivo NSEPS02505072019.NEG cargado como df_3
Archivo NSEPS02506092019.NEG cargado como df_4
Archivo NSEPS02507062019.NEG cargado como df_5
Archivo NSEPS02508022019.NEG cargado como df_6
Archivo NSEPS02508032019.NEG cargado como df_7
Archivo NSEPS02508112019.NEG cargado como df_8
Archivo NSEPS02509082019.NEG cargado como df_9
Archivo NSEPS02510052019.NEG cargado como df_10
Archivo NSEPS02511012019.NEG cargado como df_11
Archivo NSEPS02511102019.NEG cargado como df_12
Archivo NSEPS02512042019.NEG cargado como df_13
Archivo NSEPS02512072019.NEG cargado como df_14
Archivo NSEPS02513092019.NEG cargado como df_15
Archivo NSEPS02513122019.NEG cargado como df_16
Archivo NSEPS02514062019.NEG cargado como df_17
Archivo NSEPS02515022019.NEG cargado como df_18
Archivo NSEPS02515032019.NEG cargado como df_19
Archivo NSEPS02515112019.NEG cargado como df_20
Archivo NSEPS02516082019.NEG cargado como df_21
Archivo NSEPS02517052019.NEG cargado como df_22
Archivo NSEPS02518012019.NEG cargado como df_23
Archivo NSEPS02518102019.NEG cargado como df_24
Archivo NSEPS02519072019.NEG cargado como df_25
Archivo NSEPS02520092019.NEG cargado como df_26
Archivo NSEPS02520122019.NEG cargado como df_27
Archivo NSEPS02521062019.NEG cargado como df_28
Archivo NSEPS02522022019.NEG cargado como df_29
Archivo NSEPS02522032019.NEG cargado como df_30
Archivo NSEPS02522112019.NEG cargado como df_31
Archivo NSEPS02523082019.NEG cargado como df_32
Archivo NSEPS02524052019.NEG cargado como df_33
Archivo NSEPS02525012019.NEG cargado como df_34
Archivo NSEPS02525102019.NEG cargado como df_35

Revisando las dimenciones de los dataframes

In [53]:
print('Name Row  Cols')
for name, df in dataframes.items():
    print(f"{name}: {df.shape}")

Name Row  Cols
df_1: (289, 21)
df_2: (345, 21)
df_3: (267, 21)
df_4: (793, 21)
df_5: (234, 21)
df_6: (242, 21)
df_7: (703, 21)
df_8: (555, 21)
df_9: (2105, 21)
df_10: (402, 21)
df_11: (227, 21)
df_12: (359, 21)
df_13: (437, 21)
df_14: (225, 21)
df_15: (194, 21)
df_16: (227, 21)
df_17: (219, 21)
df_18: (394, 21)
df_19: (491, 21)
df_20: (553, 21)
df_21: (229, 21)
df_22: (483, 21)
df_23: (264, 21)
df_24: (413, 21)
df_25: (229, 21)
df_26: (199, 21)
df_27: (199, 21)
df_28: (205, 21)
df_29: (402, 21)
df_30: (298, 21)
df_31: (305, 21)
df_32: (168, 21)
df_33: (214, 21)
df_34: (235, 21)
df_35: (273, 21)

In [54]:
# Definir el número de columnas deseadas
num_columnas = 21

# Asegurar que todos los DataFrames tengan exactamente el mismo número de columnas
dataframes_alineados = {name: df.iloc[:, :num_columnas] for name, df in dataframes.items()}

# Preguntar al usuario cómo desea llamar al DataFrame combinado
nombre_merged = input("¿Cómo deseas llamar al DataFrame combinado? ")

# Combinar todos los DataFrames alineados, sin crear nuevas columnas
globals()[nombre_merged] = pd.concat(dataframes_alineados.values(), axis=0, ignore_index=True)

# Mostrar el shape del DataFrame combinado
print(f"Shape del DataFrame '{nombre_merged}': {globals()[nombre_merged].shape}")

# Verificar las primeras filas
print(f"Primeras 5 filas del DataFrame '{nombre_merged}':")
print(globals()[nombre_merged].head())

¿Cómo deseas llamar al DataFrame combinado?  merge2019

Shape del DataFrame 'merge2019': (13377, 21)
Primeras 5 filas del DataFrame 'merge2019':
   col_1   col_2 col_3        col_4       col_5        col_6     col_7  \
0     16  EPS025    TI   1006413607   RODRIGUEZ    CASTAÑEDA      NANI
1     86  EPS025    TI   1006559623  CHAMARRAVI  GUACARAPARE   KINNEDY
2    133  EPS025    TI   1010107558       RIVAS      ALVAREZ       YAN
3    422  EPS025    TI  90010379279     MARQUEZ    HERNANDEZ  PATRICIA
4    477  EPS025    TI   1006450537       JAZPE      BARRETO     JULIO

      col_8       col_9  col_10  ...  col_12      col_13 col_14      col_15  \
0   MAYERLI  10/07/2001      85  ...     N01  30/09/2019     CC  1006413607
1  BERNARDO  30/05/2000      85  ...     N01  30/09/2019     CC  1006559623
2    CARLOS  26/11/2000      85  ...     N01  30/09/2019     CC  1010107558
3       NaN  03/01/1990      85  ...     N01  30/09/2019     CC  1118542994
4    DANIEL  07/06/2000      85  ...     N01  30/09/2019     CC  1006450537

       col_16 col_17  col_18  col_19  col_20  \
0  10/07/2001    0.0     NaN     NaN     NaN
1  30/05/2000    0.0     NaN     NaN     NaN
2  26/11/2000    0.0     NaN     NaN     NaN
3  03/01/1990    0.0     NaN     NaN     NaN
4  07/06/2000    0.0     NaN     NaN     NaN

                                              col_21
0  GN0014(CC|1006413607|RODRIGUEZ|CASTAÑEDA|NANI|...
1  GN0169(||||FECHA NACIMIENTO|20/05/2000|30/05/2...
2  GN0031(CC|1010107558|RIVAS|ALVAREZ|YAN|CARLOS|...
3              GN0018(CC|1118542994|CANCELADO RNEC);
4  GN0169(||||FECHA NACIMIENTO|01/07/2000|07/06/2...

[5 rows x 21 columns]

In [56]:
merge2019.columns

Index(['col_1', 'col_2', 'col_3', 'col_4', 'col_5', 'col_6', 'col_7', 'col_8',
       'col_9', 'col_10', 'col_11', 'col_12', 'col_13', 'col_14', 'col_15',
       'col_16', 'col_17', 'col_18', 'col_19', 'col_20', 'col_21'],
      dtype='object')

In [59]:
# Selecciona las columnas que deseas mantener
merge2019 = merge2019[['col_2', 'col_3','col_9', 'col_10', 'col_11', 'col_12', 'col_13', 'col_21']]
#union_2019 = union_2019[['col_2', 'col_3','col_8','col_9', 'col_10', 'col_11', 'col_12', 'col_13', 'col_21']]
# Verifica el resultado
print(merge2019.head())

    col_2 col_3       col_9  col_10  col_11 col_12      col_13  \
0  EPS025    TI  10/07/2001      85       1    N01  30/09/2019
1  EPS025    TI  30/05/2000      85     125    N01  30/09/2019
2  EPS025    TI  26/11/2000      85       1    N01  30/09/2019
3  EPS025    TI  03/01/1990      85       1    N01  30/09/2019
4  EPS025    TI  07/06/2000      85     430    N01  30/09/2019

                                              col_21
0  GN0014(CC|1006413607|RODRIGUEZ|CASTAÑEDA|NANI|...
1  GN0169(||||FECHA NACIMIENTO|20/05/2000|30/05/2...
2  GN0031(CC|1010107558|RIVAS|ALVAREZ|YAN|CARLOS|...
3              GN0018(CC|1118542994|CANCELADO RNEC);
4  GN0169(||||FECHA NACIMIENTO|01/07/2000|07/06/2...

RENOMBRANDO COLUMNAS POR ULTIMA VEZ

In [40]:
# Obtiene la cantidad de columnas en el DataFrame
num_columns = union_2019.shape[1]

# Genera nuevos nombres de columnas: 'colum1', 'colum2', ..., 'columnN'
new_columns = [f'colum{i+1}' for i in range(num_columns)]

# Asigna los nuevos nombres de columnas al DataFrame
union_2019.columns = new_columns

# Verifica el resultado
print(union_2019.head())

   colum1 colum2       colum3      colum4       colum5    colum6    colum7  \
0  EPS025     TI   1006413607   RODRIGUEZ    CASTAÑEDA      NANI   MAYERLI
1  EPS025     TI   1006559623  CHAMARRAVI  GUACARAPARE   KINNEDY  BERNARDO
2  EPS025     TI   1010107558       RIVAS      ALVAREZ       YAN    CARLOS
3  EPS025     TI  90010379279     MARQUEZ    HERNANDEZ  PATRICIA       NaN
4  EPS025     TI   1006450537       JAZPE      BARRETO     JULIO    DANIEL

       colum8  colum9  colum10 colum11     colum12  \
0  10/07/2001      85        1     N01  30/09/2019
1  30/05/2000      85      125     N01  30/09/2019
2  26/11/2000      85        1     N01  30/09/2019
3  03/01/1990      85        1     N01  30/09/2019
4  07/06/2000      85      430     N01  30/09/2019

                                             colum13
0  GN0014(CC|1006413607|RODRIGUEZ|CASTAÑEDA|NANI|...
1  GN0169(||||FECHA NACIMIENTO|20/05/2000|30/05/2...
2  GN0031(CC|1010107558|RIVAS|ALVAREZ|YAN|CARLOS|...
3              GN0018(CC|1118542994|CANCELADO RNEC);
4  GN0169(||||FECHA NACIMIENTO|01/07/2000|07/06/2...

In [41]:
union_2019.dtypes

colum1     object
colum2     object
colum3     object
colum4     object
colum5     object
colum6     object
colum7     object
colum8     object
colum9      int64
colum10     int64
colum11    object
colum12    object
colum13    object
dtype: object

In [33]:
# Definir la ruta donde se guardará el archivo Excel
output_path = r"C:\Users\carlo\Downloads\merged_2018.xlsx"

# Guardar el DataFrame como un archivo Excel
merged_2018.to_excel(output_path, index=False)

print(f"El archivo se ha guardado correctamente en: {output_path}")

El archivo se ha guardado correctamente en: C:\Users\carlo\Downloads\merged_2018.xlsx

In [17]:
# Si df_1 está en el diccionario 'dataframes', lo puedes acceder así:
dataframes['df_1'].head(3)

,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,col_10,...,col_12,col_13,col_14,col_15,col_16,col_17,col_18,col_19,col_20,col_21
0,1,EPS025,CE,577635,GUARUYA,YAPUARE,REIMAR,YOLETXI,27/03/1995,85,...,N01,17/01/2020,CC,1118577595,27/03/1995,1.0,NaN,NaN,NaN,GN0059;
1,2,EPS025,TI,1117323965,CABARTE,RAMIREZ,HIVI,YARJAHIDY,14/05/2009,85,...,N01,20/02/2019,TI,1117326241,14/05/2009,1.0,NaN,NaN,NaN,GN0059;
2,3,EPS025,TI,1007441444,PEREZ,TORRES,DANIA,NaN,16/04/2001,85,...,N01,07/06/2019,TI,1194430280,16/04/2001,1.0,NaN,NaN,NaN,GN0059;